<footer class="footer-container clearfix">
  <div class="wrap">
    <div class="u-copyright">
      <h1 class="footer-logo"><span>EDU</span> | 网易教育产品部</h1>
      <p>
        &copy;2014 icours163.org <br>
        icourses.cn
      </p>
    </div>
    <ul class="u-footer-nav">
      <li>
        <h4>友情链接：</h4>
        <ul>
          <li><a href="#">网易公开课</a></li>
          <li><a href="#">网易云课堂</a></li>
          <li><a href="#">中国大学MOOC</a></li>
        </ul>
      </li>
      <li>
        <h4>我们：</h4>
        <ul>
          <li><a href="#">关于</a></li>
          <li><a href="#">更多</a></li>
          <li><a href="#">联系</a></li>
          <li>关注 <a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </li>
      <li>
        <h4>更多：</h4>
        <ul>
          <li><a href="#">常见问题</a></li>
          <li><a href="#">意见反馈</a></li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
