<header class="header-container">
  <div class="u-top-notify">
    <div class="wrap">
      <p>网易云课堂微专业，帮助你掌握专业技能，令你求职或加薪多一份独特优势！
        <a href="#">立即查看</a>
      </p>
      <span id="notify"><i class="fa fa-close"></i> 不再提醒</span>
    </div>
  </div>
  <div class="wrap">
    <div class="m-header">
      <h1 class="logo"><span>EDU</span> | 网易教育产品部</h1>
      <div class="u-follow">
        <span class="isfollow"><i class="fa fa-plus"></i> 关注</span>
        <span>粉丝 <b>45</b></span>
      </div>
      <div class="m-header-nav">
        <ul>
          <li><a href="#">网易公开课</a></li>
          <li><a href="#">云课堂</a></li>
          <li><a href="#">中国大学MOOC</a></li>
        </ul>
      </div>
      <div class="u-search">
        <a href="#"><i class="fa fa-search"></i></a>
      </div>
    </div>
  </div>
</header>
