<div class="main-container clearfix">
  <div class="wrap">
    <div class="m-mn">
      <div class="tab">
        <a href="#" class="active">产品设计</a>
        <a href="#">编程语言</a>
      </div>
      <ul class="courses-container clearfix">
        <li>
          <a href="#" class="inner-content">
            <img src="../dist/img/pic1.jpg" alt="">
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
              <li>音频帮</li>
              <li><i class="fa fa-user"></i> <span>510</span></li>
              <li class="price">¥800.00</li>
            </ul>
          </a>
        </li>
        <li>
          <a href="#" class="inner-content">
            <img src="../dist/img/pic2.jpg" alt="">
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
              <li>音频帮</li>
              <li>510</li>
              <li class="price">¥800</li>
            </ul>
          </a>
        </li>
        <li>
          <a href="#" class="inner-content">
            <img src="../dist/img/pic3.jpg" alt="">
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
              <li>音频帮</li>
              <li>510</li>
              <li class="price">¥800</li>
            </ul>
          </a>
        </li>
        <li>
          <a href="#" class="inner-content">
            <img src="../dist/img/pic4.jpg" alt="">
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
              <li>音频帮</li>
              <li>510</li>
              <li class="price">¥800</li>
            </ul>
          </a>
        </li>
      </ul>
      <ul class="pagination">
        <li class="prev"><a href="#">prev</a></li>
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li class="next"><a href="#">next</a></li>
      </ul>
    </div>
    <div class="m-sb">
      <div class="intro">
        <h2>机构介绍</h2>
        <div class="sub-intro">
          <h4>观看下面的视频来了解吧</h4>
          <video src="http://mov.bn.netease.com/open-movie/nos/mp4/2014/12/30/SADQ86F5S_shd.mp4">

          </video>
        </div>
      </div>
      <div class="hottest">
        <h2>最热排行</h2>
        <ul class="hot-lists">
          <li><a href="#">
            <span class="feature">
              <img src="../dist/img/1.png" alt="">
            </span>
            <span class="desc">
              <p>舞曲揭秘舞曲揭秘舞曲揭秘</p>
              <span>2150</span>
            </span>
          </a></li>
          <li><a href="#">
            <span class="feature">
              <img src="../dist/img/1.png" alt="">
            </span><span class="desc">
              <p>舞曲揭秘舞曲揭秘舞曲揭秘</p>
              <span>2150</span>
            </span>
          </a></li>
          <li><a href="#">
            <span class="feature">
              <img src="../dist/img/1.png" alt="">
            </span><span class="desc">
              <p>舞曲揭秘舞曲揭秘舞曲揭秘</p>
              <span>2150</span>
            </span>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
