<div class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">登录网易云课堂</h4>
      </div>
      <form action="">
        <div class="modal-body">
          <input type="text" name="name" id="username" placeholder="用户名">
          <input type="password" name="password" id="password" placeholder="密码">
          <!-- <span class="alert">用户名或密码不正确</span> -->
        </div>
        <div class="modal-footer">
          <button type="submit">登录</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
