<div class="showcase-container">
  <div class="wrap">
    <ul class="m-course">
      <li>
        <b class="icon icon-ease"></b>
        <div class="content">
          <h2>网易公开课</h2>
          <p>推出国内外名校公开课，涉及广泛的学科，名校老师认真讲解深度剖析，网易视频公开课瓶倒搭建起强有力的网络视频教学平台</p>
          <a href="http://open.163.com/" target="_blank">了解更多 ></a>
        </div>
      </li>
      <li>
        <b class="icon icon-course"></b>
        <div class="content">
          <h2>云课堂</h2>
          <p>推出国内外名校公开课，涉及广泛的学科，名校老师认真讲解深度剖析，网易视频公开课瓶倒搭建起强有力的网络视频教学平台</p>
          <a href="http://study.163.com/" target="_blank">了解更多 ></a>
        </div>
      </li>
      <li>
        <b class="icon icon-mooc"></b>
        <div class="content">
          <h2>中国大学MOOC</h2>
          <p>推出国内外名校公开课，涉及广泛的学科，名校老师认真讲解深度剖析，网易视频公开课瓶倒搭建起强有力的网络视频教学平台</p>
          <a href="http://www.icourse163.org/" target="_blank">了解更多 ></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="u-workspace">
    <img src="../dist/img/workspace.jpg" alt="">
  </div>
</div>
