<div class="slide-show-container" id="slideshow">
    <div class="slide active">
      <a href="#"><img src="dist/img/banner1.jpg" alt="banner"></a>
    </div>

    <div class="slide">
      <a href="#"><img src="dist/img/banner2.jpg" alt="banner"></a>
    </div>

    <div class="slide">
      <a href="#"><img src="dist/img/banner3.jpg" alt="banner"></a>
    </div>
    <ol class="slide-indicators">
      <li data-target="#slideshow" data-slide-to="0" class="active"></li>
      <li data-target="#slideshow" data-slide-to="1"></li>
      <li data-target="#slideshow" data-slide-to="2"></li>
    </ol>
</div>
