/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  font-family: $font-stack;
  font-size: 0.8em;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.wrap {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}
a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
  }
}

.clearfix::after {
  content: ".";
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
  height: 0;
}
img, video {
  max-width: 100%;
}
