.header-container {
  .u-top-notify {
    background: $primary-color;
    color: gray;
    transition: all 0.5s;
    .wrap {
      position: relative;
      p {
        padding: 10px 0;
        margin: 0;
      }
      span {
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
      }
    }
  }

  .m-header {
    height: 90px;
    .logo {
      display: inline-block;
      line-height: 90px;
      width: 25%;
      margin: 0;
      span {
        color: $link-color;
        font-size: 1.2em;
        font-family: 'Arial';
        font-weight: bolder;
      }
    }
    .u-follow {
      display: inline-block;
      line-height: 80px;
      width: 25%;
      .isfollow {
        background: $link-color;
        padding: 3px 15px;
        margin-right: 5px;
        border-radius: 2px;
        color: white;
        cursor: pointer;
      }

      .followed {
        border: 1px solid $primary-color;
        background: #f8f8f8;
        color: #333;

        a {
          color: #333;
        }

        &:hover {
          a {
            color: $link-color;
          }

          background-color: white;
        }
      }
    }
    .m-header-nav {
      display: inline-block;
      width: 44%;
      list-style: none;
      padding: 0;
      text-align: right;
      li {
        display: inline-block;
        margin-left: 50px;
        a {
          color: gray;
          font-size: 1.2em;
          &:focus {
            color: $link-color;
          }
          &:hover {
            color: $link-color;
          }
        }
      }
    }
    .u-search {
      display: inline-block;
      text-align: right;
      font-size: 1.5em;
      width: 5%;
      a {
        color: gray;
        &:focus {
          color: $link-color;
        }
        &:hover {
          color: $link-color;
        }
      }
    }
  }
}
