.slide-show-container {
  max-width: 1600px;
  max-height: 560px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;

  .slide-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: white;
      margin-left: 8px;
      cursor: pointer;
      &.active {
        background-color: black;
      }
    }
  }
  > .slide {
    display: none;

    &.active {
      display: block;
    }
  }
}
